@import './base.scss';

.main {
  width: 800px;
  max-width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: row;
}

img {
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  width: 150px;
  border-radius: 80px;
}

p {
  padding: 0px;
  margin: 0px;
}

div.left {
  padding: 20px 20px 20px 30px;
  text-align: left;
  width: 250px;
  min-height: 1122px;
}

div.right {
  text-align: left;
  background-color: #FFFFFF;
  width: 650px;
  padding-bottom: 10px;
}

section {
  margin: 40px 0px;
  min-height: 60px;

  label {
    display: block;
    margin: 7px 0px;
    line-height: 2rem;
  }
}


div.right section {
  margin: 20px 0px;
}

div.right section.name {
  margin-top: 60px;
  min-height: 40px;
}

div.right section ul {
  margin: 5px 20px;
}

div.right section div,
div.right section h3,
div.right section p,
div.right section h1,
div.right section label {
  padding: 5px 20px;
}


a {
  line-height: 1.3rem;
  border-bottom: 2px solid var(--color-black-800);
}

div.right section p {
  font-weight: 580;
}

div.right section.references {
  label.info {
    display: inline-block;
    min-width: 250px;
    margin: 0px;
    padding: 0px;
    color: var(--color-neutral-900);
    font-weight: 580;
  }

  label.info:first-child {
    padding-left: 20px;
    padding-right: 10px;
  }

  label.info:last-child {
    padding-right: 20px;
  }


  div.box {
    margin-left: 0px;
    padding-left: 0px;
    padding: 2px 0px;
  }
}

div.right section div.time {
  margin-top: 0px;
  padding-top: 0px;

  span {
    color: var(--color-neutral-500);
  }
}

div.right section {
  min-height: 60px;
}

div.right section.name {
  h1 {
    padding-bottom: 0px;
    font-size: 2.5rem;
  }

  label {
    padding-top: 0px;
    margin-top: 0px;
  }
}

div.right {

  h1,
  h3,
  ul,
  li,
  label,
  div,
  span {
    color: var(--color-black-800);
    font-size: 1.6rem;
  }
}

div.left {

  h1,
  h3,
  ul,
  li,
  label,
  div,
  span {
    font-size: 1.6rem;
  }
}


div.right section label.h2-container {
  padding: 5px 20px;
}