@import './left-right.scss';

img {
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  width: 150px;
  border-radius: 80px;
}

div.right section.references {
  div.box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
  }

  p {
    width: 50%;
  }
}

section .h2-container {
  display: block;
  margin-bottom: 10px;
}

section.summary .h2-container {
  display: block;
  margin-bottom: 20px;
}