@import './left-right.scss';

section {
    min-height: 80px;
}

div.right section.name {
    margin-top: 50px;
}

section .h2-container {
    display: block;
    margin-bottom: 10px;
}

section.summary .h2-container {
    display: block;
    margin-bottom: 20px;
}