@import './left-right.scss';

img {
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  width: 150px;
  border-radius: 80px;
}


div.right section label.h2-container {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
  margin-left: 0px;
  padding-left: 0px;
}

section {
  min-height: 80px;
}