@import './left-right.scss';

div.right section label.h2-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    display: inline-block;
    margin-left: 0px;
    padding-left: 0px;
}

section {
    min-height: 80px;
}

div.right section.name {
    margin-top: 50px;
}