.right-panel.slider {
  position: fixed;
  overflow: unset;
  // transform: translate3d(0,0,0);
  // left: calc(100vw - 20px);
  right: 0;
  top: 50px;
  height: calc(100vh - 50px);
  border-left: 5px solid var(--color-primary-500);
  background-color: snow;
  // overflow-y: scroll;
  box-shadow: #2b2727 0px 0px 8px 0px;
  z-index: 999;
}

.left-panel.slider {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  border-right: 5px solid var(--color-primary-500);
  background-color: snow;
  overflow-y: scroll;
  box-shadow: #2b2727 0px 0px 8px 0px;
}

.top-panel.slider {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  border-bottom: 5px solid var(--color-primary-500);
  background-color: snow;
  overflow-y: scroll;
  box-shadow: #2b2727 0px 0px 8px 0px;
}

.bottom-panel.slider {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  border-top: 5px solid var(--color-primary-500);
  background-color: snow;
  overflow-y: scroll;
  box-shadow: #2b2727 0px 0px 8px 0px;
}

.indicator-wrapper {
  position: fixed;
  margin-top: calc(50vh - 25px);
  margin-left: -20px;
  height: 50px;
  width: 15px;
  border-top-left-radius: 60%;
  border-bottom-left-radius: 60%;
  background: var(--color-primary-500);
  text-align: center;
  color: snow;
  padding-top: 18px;
  font-size: 14px;
  box-shadow: #2b2727 1px 1px 8px;

  &:hover {
    cursor: pointer;
  }
}

.content {
  width: 0px;
  // transition: all 0.5s ease-in;
}

.content.display {
  width: 350px;
}

.right-panel.slide-left {
  left: calc(100vw - 360px);
}

@media (max-width: 350px) {
  .content.display {
    width: 300px;
  }
  .right-panel.slide-left {
    left: calc(100vw - 300px);
  }
}
