div.progress-bar {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 15px 20px 15px 0px;
    background: var(--color-white);
    gap: 13px;

    label {
        display: inline-block;
        flex: 1;
        text-align: right;
    }

    span {
        background-color: var(--color-primary-200);
        display: inline-block;
        padding: 1px;
        width: 100%;
        margin-bottom: 4px;
    }

    i {
        color: var(--color-primary);
    }

    label.completed {
        span {
            background-color: var(--color-primary);
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    min-width: 800px;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 800px;
    border-top: 3px solid var(--color-primary);
}

div.text {
    padding: 10px;
    border: 1px solid var(--color-neutral-300);
    border-radius: 5px;
    min-height: 100px;
    overflow-y: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 760px;
    max-height: 760px;
    overflow-y: auto;
    min-width: 750px;


    label {
        display: inline-block;
        font-weight: bold;
        margin-top: 10px;
        padding: 2px 0px;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    div.box {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    button.reset {
        margin-left: 10px;
    }

    div.btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

}

div.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;

    .upload-crop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .crop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;
    }

    .origin {
        max-height: 3500px;
        max-width: 350px;
        height: 350px;
    }

    .destination {
        top: 0;
    }
}

div.hbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


div.rhbox {
    width: 100%;
    text-align: right;
    padding: 10px;

    span {
        display: inline-block;
        width: 340px;
        text-align: left;
        margin-left: 10px;
    }
}

div.skills {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;

    div.text {
        border-top: 1px solid var(--color-neutral-300);

        p,
        ul,
        ol {
            padding: 0px;
            margin: 0px;
        }

    }
}

div.dhbox {
    max-width: 800px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

div.skills textarea {
    margin-bottom: 0px;
    border-radius: 10px;
}


div.list-skills {
    border: 1px solid var(--color-neutral-200);
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
}

div.skill {
    padding: 10px 10px;
    margin-top: 5px;
    border-top: 1px solid var(--color-neutral-300);
    cursor: pointer;
}

div.skill:first-child {
    border-top: 0px;
}

div.list-experiences {
    width: 100%;
    margin-top: 20px;
    max-height: 150px;
    height: 100px;
    overflow-y: auto;
    cursor: pointer;
    border: 1.5px solid var(--color-neutral-300);
    padding: 10px;

    div.exp-container {
        border-radius: 20px;
        border: 3px solid var(--color-primary-200);
        width: 100%;
        height: max-content;
        padding: 0px;
        padding: 10px;
        margin-bottom: 10px;

    }

    h3 {
        font-size: 1.5rem;
        color: var(--color-black-400);
    }

    .time {
        font-size: 1.3rem;
        color: var(--color-black-200);
    }
}

div.list-educations {
    width: 100%;
    margin-top: 20px;
    max-height: 150px;
    height: 100px;
    overflow-y: auto;
    cursor: pointer;
    border: 1.5px solid var(--color-neutral-300);
    padding: 10px;

    div.edu-container {
        border-radius: 20px;
        border: 3px solid var(--color-blue-100);
        width: 100%;
        height: max-content;
        padding: 0px;
        padding: 10px;
        margin-bottom: 10px;

    }

    h3 {
        font-size: 1.5rem;
        color: var(--color-black-400);
    }

    .time {
        font-size: 1.3rem;
        color: var(--color-black-200);
    }
}


button.add {
    background-color: var(--color-blue-800);
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
}

button.is-add {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 370px;
}

button.is-remove {
    min-width: 370px;
}

button.added {
    background-color: var(--color-blue-100);
    color: var(--color-neutral-800);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.btns button {
    width: 100px;
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 7px;

    span {
        font-size: 2rem;
        margin-right: 3px;
    }
}

.btns button.is-back {
    background-color: white;
    font-weight: bold;
}

.sample-container {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFF1EE;

    div.sub-container {
        width: 800px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    div.btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px;
        border: 5px solid var(--color-primary);
        border-radius: 10px;
        margin-top: 1px;
        align-items: baseline;

    }

    div.colors-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    div.colors-sub-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    div.colors div {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.2s;
        text-align: center;

        &.lb-color-01 {
            background-color: var(--color-sample-lb-01);
        }

        &.lb-color-02 {
            background-color: var(--color-sample-lb-02);
        }

        &.lb-color-03 {
            background-color: var(--color-sample-lb-03);
        }

        &.lb-color-04 {
            background-color: var(--color-sample-lb-04);
        }

        &.lb-color-05 {
            background-color: var(--color-sample-lb-05);
        }

        &.lb-color-06 {
            background-color: var(--color-sample-lb-06);
        }

        &.lb-color-07 {
            background-color: var(--color-sample-lb-07);
        }

        &.lb-color-08 {
            background-color: var(--color-sample-lb-08);
        }

        &.lb-color-09 {
            background-color: var(--color-sample-lb-09);
        }

        &.lb-color-10 {
            background-color: var(--color-sample-lb-10);
        }
    }

    div.colors label.selected {
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 2.5rem;
    }

    div.colors label.selected2 {
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 2.5rem;
    }

    div.colors label.selected::before {
        display: inline-block;
        content: "\2713";
        color: var(--color-white);
    }

    div.colors label.selected2::before {
        display: inline-block;
        content: "\2713";
        color: var(--color-black);
    }

    div.colors label:hover {
        transform: translateY(-2px);
        border-radius: 5px;
    }
}