<div class="user-create-page" *ngIf="!on.preview">
  <div class="main">
    <div class="container">
      <app-message></app-message>
      <form>
        <div [ngSwitch]="on.stage" class="stages">
          <ng-container *ngSwitchCase="1">
            <h1>Personal Information</h1>
            <ng-container *ngFor="let each of list.backgrounds; let i=index;">
              <ng-container *ngIf="i!==0">
              </ng-container>
              <ng-container *ngIf="i===0">
                <!-- <label for="image">Image (URL):</label>
            <input type="text" id="image" name="image"> -->

                <label for="fullName">Full Name:</label>
                <input type="text" name="fullName" [(ngModel)]="each.name">
                <label for="profession">Profession:</label>
                <input type="text" name="profession" [(ngModel)]="each.profession">
                <label for="email">Email:</label>
                <input type="text" name="email" [(ngModel)]="each.email">

                <label for="phone">Phone Number:</label>
                <input type="text" name="phone" [(ngModel)]="each.phone">

                <label for="address">Address:</label>
                <input type="text" name="address" [(ngModel)]="each.address">

                <label for="background">Background:</label>
                <textarea name="background" rows="4" [(ngModel)]="each.background"></textarea>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <h1>Experiences</h1>
            <ng-container *ngFor="let each of list.experiences; let i=index;">
              <ng-container *ngIf="!!list.experiences[i+1]">
              </ng-container>
              <ng-container *ngIf="!list.experiences[i+1]">
                <div class="hbox">
                  <label for="jobTitle">Job Title:</label>
                  <label for="employer">Employer:</label>
                </div>
                <div class="hbox">
                  <input type="text" name="jobTitle" [(ngModel)]="each.title">
                  <input type="text" name="employer" [(ngModel)]="each.company">
                </div>

                <label for="degree">Responsibilities:</label>
                <textarea type="text" name="description" [(ngModel)]="each.description"
                  placeholder="Seprate by new line" rows="6"></textarea>

                <label for="employerAddress">Address:</label>
                <input type="text" name="employerAddress" [(ngModel)]="each.address">

                <div class="hbox">
                  <label for="startDate">Start Date:</label>
                  <label for="endDate">End Date:</label>
                </div>

                <div class="hbox">
                  <input type="date" name="endDate" [(ngModel)]="each.start">
                  <input type="date" name="startDate" [(ngModel)]="each.end">
                </div>

                <div class="rhbox">
                  <input type="checkbox" name="currentJob" [(ngModel)]="each.current">
                  <span for="currentJob"> I currently work here</span>
                </div>
                <div class="dhbox">
                  <button class="button is-remove" (click)="onRemove()" *ngIf="list.experiences.length>1">- Remove
                    Position</button>
                  <button class="button is-add" (click)="onAdd()">+ Add Another Position</button>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <h1>Education</h1>
            <ng-container *ngFor="let each of list.educations; let i=index;">
              <ng-container *ngIf="!!list.educations[i+1]">
              </ng-container>
              <ng-container *ngIf="!list.educations[i+1]">
                <div class="hbox">
                  <label for="schoolName">School Name:</label>
                  <label for="schoolAddress">School Address:</label>
                </div>
                <div class="hbox">
                  <input type="text" name="schoolName" [(ngModel)]="each.university">
                  <input type="text" name="schoolAddress" [(ngModel)]="each.address">
                </div>

                <label for="degree">Degree:</label>
                <input type="text" name="degree" [(ngModel)]="each.degree">

                <label for="studyField">Field of Study:</label>
                <input type="text" name="studyField" [(ngModel)]="each.field">

                <div class="hbox">
                  <label for="schoolStartDate">Start Date:</label>
                  <label for="schoolEndDate">End Date:</label>
                </div>

                <div class="hbox">
                  <input type="date" name="schoolEndDate" [(ngModel)]="each.start">
                  <input type="date" name="schoolStartDate" [(ngModel)]="each.end">
                </div>

                <div class="rhbox">
                  <input type="checkbox" name="currentSchool" [(ngModel)]="each.current">
                  <span for="currentSchool"> I currently attend here</span>
                </div>

                <div class="dhbox">
                  <button class="button is-remove" (click)="onRemove()" *ngIf="list.educations.length>1">- Remove
                    School</button>
                  <button class="button is-add" (click)="onAdd()">+ Add Another School</button>
                </div>

              </ng-container>
            </ng-container>
          </ng-container>

          <div *ngSwitchCase="4">
            <h1>Skills:</h1>
            <div class="hbox skills">
              <div class="list-skills">
                <ng-container *ngFor="let each of list.skills">

                  <div class="skill" (click)="onSkill(each)"><button class="button add"
                      *ngIf="!each.selected">ADD</button><button class="button added"
                      *ngIf="each.selected">&#x2713;</button> {{each.name}}</div>
                </ng-container>
              </div>
              <textarea name="skills" [(ngModel)]="on.skills" (ngModelChange)="onSkills()"
                placeholder="Seprate by new line"></textarea>
            </div>
          </div>

          <ng-container *ngSwitchCase="5">
            <h1 for="projects">Projects:</h1>
            <ng-container *ngFor="let each of list.projects; let i = index;">
              <div class="hbox">
                <label for="projectTitle{{i}}">Project Title:</label>
                <label for="projectLink{{i}}">Project Link:</label>
              </div>
              <div class="hbox">
                <input type="text" name="projectLink{{i}}" [(ngModel)]="each.title">
                <input type="text" name="projectTitle{{i}}" [(ngModel)]="each.link">
              </div>
            </ng-container>
            <div class="dhbox">
              <button class="button is-remove" (click)="onRemove()" *ngIf="list.projects.length > 1">- Remove
                Project</button>
              <button class="button is-add" (click)="onAdd()">+ Add Another Project</button>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="6">
            <h1 for="projects">languages:</h1>
            <ng-container *ngFor="let each of list.languages; let i = index;">
              <ng-container>
                <label for="languageTitle{{i}}">Name:</label>
                <input type="text" name="languageLink{{i}}" [(ngModel)]="each.name">
              </ng-container>
            </ng-container>
            <div class="dhbox">
              <button class="button is-remove" (click)="onRemove()" *ngIf="list.languages.length>1">- Remove
                language</button>
              <button class="button is-add" (click)="onAdd()">+ Add Another language</button>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="7">
            <h1 for="projects">References:</h1>
            <ng-container *ngFor="let each of list.references; let i = index;">
              <ng-container>
                <div class="hbox">
                  <label for="referenceTitle{{i}}">Name:</label>
                  <label for="referenceLink{{i}}">Email:</label>
                </div>
                <div class="hbox">
                  <input type="text" name="referenceLink{{i}}" [(ngModel)]="each.name">
                  <input type="text" name="referenceTitle{{i}}" [(ngModel)]="each.email">
                </div>
              </ng-container>
            </ng-container>
            <div class="dhbox">
              <button class="button is-remove" (click)="onRemove()" *ngIf="list.references.length>1">- Remove
                Reference</button>
              <button class="button is-add" (click)="onAdd()">+ Add Another Reference</button>
            </div>
          </ng-container>
        </div>
        <div class="btns" *ngIf="on.stage!==8">
          <button class="button is-secondary is-back" [disabled]="on.stage===1" (click)="onStage('before')">
            <span>&larr;</span>
            Back</button>
          <button class="button is-primary" [disabled]="on.stage===8" (click)="onStage('next')">Next</button>
        </div>
        <button class="submit is-primary" [disabled]="on.stage!==8" (click)="onGenerate()">Generate Resume</button>
      </form>
    </div>
  </div>
</div>

<div class="sample-container" [ngClass]="on.sample_id">
  <div class="sub-container">
    <div class="btns" *ngIf="on.preview">
      <button class="button is-secondary" (click)="onEdit()">Edit</button>
      <button class="button is-primary" (click)="onDownloadPdf()">Save</button>
    </div>
    <div class="sample">
      <ng-container #samples></ng-container>
    </div>
  </div>
</div>