<app-message></app-message>
<div class="sample-container">
  <header>
    <div class="page-header">
      <h1 class="generated"> <i class="fa-solid fa-database"></i> Generated: <span>{{on.totalGenerated}}</span></h1>
      <h1>
        <i class="fas fa-magic"></i> {{on.title}}
      </h1>
    </div>
    <div class="page-sub-header">
      <h2>
        {{on.sub_title}} <i class="fas fa-magic" *ngIf="on.completed_text"></i>
      </h2>
      <h3>{{on.sub_title2}}</h3>
    </div>

  </header>
  <div class="image-preview">
    <ng-container *ngFor="let image of list.left;">
      <div class="left" *ngIf="!image.active">
        <img [src]="image.link" alt="resume sample" />
      </div>
    </ng-container>
    <ng-container *ngFor="let image of list.imageUrls">
      <div class="active" *ngIf="image.active">
        <i class="fa-solid fa-chevron-left" (click)="onShowPreviousImage()"></i>
        <img [src]="image.link" alt="resume sample" (click)="onSelectImage(image)" />
        <i class="fa-solid fa-chevron-right" (click)="onShowNextImage()"></i>
      </div>
    </ng-container>
    <ng-container *ngFor="let image of list.right">
      <div class="right" *ngIf="!image.active">
        <img [src]="image.link" alt="resume sample" />
      </div>
    </ng-container>
  </div>
  <div class="content">
    <div class="background"></div>
    <div class="quotes">
      <h2>Link up with success! Let's create a #NextLevelResume!</h2>
      <p>🚀 Craft professional resumes effortlessly! </p>
      <p>🌐 Explore a world where your achievements shine!</p>
      <p>🌟 Innovate your resume with style and collaboration!</p>
      <p>📈 Achieve impactful results with every section!</p>
    </div>

    <div class="samples-more">
      <img class="img-1" [src]="list.imageUrls[1]?.link" alt="resume sample">
      <img class="img-2" [src]="list.imageUrls[6]?.link" alt="resume sample">
      <img class="img-3" [src]="list.imageUrls[8]?.link" alt="resume sample">
    </div>
    <div class="btns">
      <button class="button is-build" (click)="onSelectImage({id:2})">Build Now</button>
    </div>
    <div class="steps">
      <h2>Crafting your perfect resume is as easy as 1-2-3 with just three simple steps!</h2>
      <div class="steps-container">
        <div class="step step1">
          <i class="fa-regular fa-circle-check"></i>
          <h3>Select Your Template</h3>
          <p>Explore and choose the template that suits your style from the list. Click the template to begin your
            journey.</p>
        </div>

        <div class="step step2">
          <i class="fa-regular fa-pen-to-square"></i>
          <h3>Complete Information</h3>
          <p>Share your story with the hiring manager by filling in the necessary details in the required fields.</p>
        </div>

        <div class="step step3">
          <i class="fa-solid fa-print"></i>
          <h3>Generate and Save</h3>
          <p>Generate a preview, customize with your preferred color and background, then save your professionally
            crafted resume.</p>
        </div>
      </div>
    </div>
    <div class="contact">
      <h2>Feel free to reach out for assistance or feedback by using provided channels.
      </h2>
      <!-- <div class="row">
        <p>safi@angeyza.com</p>
        <p>+601123270509</p>
      </div> -->
      <div class="row">
        <p>Name:</p>
        <input type="text" [(ngModel)]="on.name">
      </div>
      <div class="row">
        <p>Email:</p>
        <input type="text" [(ngModel)]="on.email">
      </div>
      <div class="row">
        <p class="message">Mesage:</p>
        <textarea type="text" [(ngModel)]="on.message"></textarea>
      </div>
      <div class="sbtn">
        <button class="button is-primary" (click)="onEmail()">Send</button>
      </div>
    </div>
  </div>
</div>