.sample-container {
    width: 100%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    background-color: rgb(234, 246, 255);
    min-width: 400px;

}

header {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, var(--color-primary), var(--color-pink));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
}

.page-sub-header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header h1 {
    font-size: 2.8rem;
    /* Larger font size for the main heading */
    margin: 0;
    color: var(--color-primary);
    width: 100%;
    text-align: center;
}

.page-sub-header h2 {
    font-size: 2.2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(45deg, var(--color-primary-800), var(--color-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-sub-header h3 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.image-preview {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 90vh;
    min-height: 700px;
    flex-direction: row;
    /* Adjust the desired height */
}

.active,
.left,
.right {
    flex: 1;
    filter: blur(5px);
    /* Apply a blur effect to the left and right images */
    transition: filter 0.3s ease;
}

.left {
    overflow: hidden;
}

.right {
    overflow: hidden;
}

.active {
    max-width: 680px;
    min-width: 400px;
    filter: none;
    height: 90vh;
    transition: filter 0.3s ease;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

img {
    max-width: 600px;
    height: 100%;
    border-left: 1px solid var(--color-primary-100);
    border-right: 1px solid var(--color-primary-100);
}

.active:hover img {
    height: 95%;
    margin-top: 20px;
}


.active img {
    cursor: pointer;
    box-sizing: border-box;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    min-width: 400px;
    gap: 20px;
}

button {
    width: 130px;
    font-size: 1.6rem;
}

.image-preview i {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    cursor: pointer;
    color: var(--color-primary);
    padding: 5px;

    &.fa-chevron-left {
        left: 5px;
        /* Add some left margin to create space */
        transform: scale(0.9);
        /* Zoom out the icon slightly */
    }

    &.fa-chevron-right {
        right: 5px;
        /* Add some right margin to create space */
        transform: scale(0.9);
        /* Zoom out the icon slightly */
    }
}


.content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0px;
    height: max-content;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(234, 246, 255);
    position: relative;

    .background {
        border-top: 350px solid var(--color-purple-400);
        border-left: 100px solid rgb(234, 246, 255);
        border-right: 100px solid rgb(234, 246, 255);
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 350px;
    }

    .quotes {
        z-index: 9;
        position: absolute;
        margin-top: 70px;

        h2 {
            padding: 20px 0px;
            color: var(--color-white);
        }

        p {
            padding: 2px 0px;
            color: var(--color-white);
        }
    }

    .samples-more {
        margin-top: 50px;
        z-index: 11;
        max-width: 600px;
        min-width: 400px;
        height: 600px;
        position: relative;
        display: flex;
        justify-content: flex-start;

        img {
            background: var(--white);
            /* background-position: 50% 0; */
            background-size: cover;
            border-radius: 6px;
            -webkit-box-shadow: 0 9px 15px rgba(100, 100, 123, .07);
            /* box-shadow: 0 9px 15px rgba(100,100,123,.07); */
            max-width: 320px;
            max-height: 450px;
        }

        img.img-1 {
            top: 50px;
            -webkit-transform: rotate(-22.2deg);
            transform: rotate(-22.2deg);
            position: relative;
            z-index: 1;

        }

        img.img-2 {
            left: 90px;
            top: 60px;
            -webkit-transform: rotate(-4.51deg);
            transform: rotate(-4.51deg);
            position: absolute;
            z-index: 2;

        }

        img.img-3 {
            left: 170px;
            top: 80px;
            z-index: 12;
            -webkit-transform: rotate(8.87deg);
            transform: rotate(8.87deg);
            position: absolute;
        }


    }

    div.btns button {
        font-size: 3rem;
        padding: 10px 30px;
        background-color: var(--color-orange-400);
        color: var(--color-white);
        width: 250px;
        text-transform: uppercase;
    }

    div.btns {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 100px 0px;
        background-color: var(--color-blue-400);
        width: 100%;
        margin-top: 10%;
    }

    .steps-container {
        min-width: 400px;
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
    }

    .step {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 250px;
    }

    i {
        font-size: 4rem;
    }

    .contact {
        max-width: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 10px;
    }

    .contact h2 {
        margin-bottom: 30px;
    }

    div.row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    div.row p {
        width: 150px;
        margin-top: 10px;
    }

    div.row input {
        width: 100%;
    }

    div.row p.message {
        margin-top: 50px;
    }

    div.row textarea {
        width: 100%;
        height: 150px;
    }

    .contact button.is-primary {
        background-color: var(--color-primary-600);
        width: 150px;
        padding: 10px 20px;
    }

    .contact div.sbtn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}