// .modal .modal-dialog{
//   max-width: 40%;
//   max-height: 40%;
// };

// .modal .modal-body {
//   max-height: calc(80vh - 200px);
//   overflow-y: auto;
// };

.modal {
  overflow: visible !important;
}

.modal-dialog {
  max-width: 1050px !important;
  width: min-content !important;
}

.modal-body {
  overflow-y: visible !important;
  padding: 2rem;
}

.modal-header {
  background-color: var(--color-primary-500);
  color: var(--color-white);
  margin-top: 0px;
  border-top: 0px solid var(--color-primary-500);
}

.modal-title {
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}

.modal-header .close {
  background-color: var(--color-primary-500);
  height: 45px;
  box-shadow: none;
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  border: none;
  color: var(--color-white);

  &:hover {
    transform: none;
  }
}