<header>
    <div class="header-left">
        <img src="../../../assets/favicon/favicon-100x100.png" alt="App Logo" width="100px" height="80px">
    </div>

    <div class="header-center">
        <nav>
        </nav>
    </div>

    <div class="header-right" (mouseleave)="onHideDropdown()" *ngIf="!on.user">
        <button class="button is-primary" routerLink="/login">Login</button>
        <div class="user-dropdown" (mouseover)="onShowDropdown()">
            <i class="fa-regular fa-circle-user"></i>

            <div class="dropdown-content" *ngIf="on.isDropdownVisible">
                <!-- Dropdown items go here -->
                <!-- <a href="#">Profile</a>
                <a href="#">Settings</a>
                <a href="#">Logout</a> -->
            </div>
        </div>
    </div>


    <div class="header-right" (mouseleave)="onHideDropdown()" *ngIf="on.user">
        <button class="button is-primary">{{on.user.name}}</button>
        <div class="user-dropdown" (mouseover)="onShowDropdown()">
            <img *ngIf="on.user.photoUrl" [src]="on.user.photoUrl" width="40px" height="40px">
            <i *ngIf="!on.user.photoUrl" class="fa-regular fa-circle-user"></i>
            <i class="fa-solid fa-circle-chevron-down"></i>

            <div class="dropdown-content" *ngIf="on.isDropdownVisible">
                <a (click)="onSignout()">Signout</a>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>
<footer>
    <div class="footer-row">
        <div class="footer-left">
            <img src="../../../assets/favicon/favicon-100x100.png" alt="Company Logo" width="100px" height="70px">
            <span>Resume Master</span>
        </div>

        <div class="footer-center">
            <nav>
            </nav>
        </div>

        <div class="footer-right">
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

    <div class="footer-row footer-second-row">
        <div class="footer-left">
            <ul>
                <li> <a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <p>&copy; {{on.year }} Resume Master by <strong>Angeyza</strong>. All rights reserved.</p>
        </div>
    </div>
</footer>